img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
<<<<<<< Updated upstream
	background-color: rgb(34, 30, 30);
}

.limitador {
	max-width: 1300px;
=======
	
}

.limitador {
	max-width: 1350px;
>>>>>>> Stashed changes
	margin: 0px auto;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
<<<<<<< Updated upstream
	background-color: rgb(34, 30, 30);
	padding: 2rem;
=======
	background-color: black;
	padding: 1rem;
>>>>>>> Stashed changes
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

<<<<<<< Updated upstream

/* Nossos css */


/*barra*/
.titulo{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
=======
/* Teste cabeçalho */
.titulo{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> Stashed changes
    font-size: 50px;
    text-shadow: black;

}

<<<<<<< Updated upstream
.wish{
	color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: black;
}


.navbar-custom {
      background: rgb(0, 0, 0);
      padding: 15px 40px;
=======
.navbar-custom {
      background: rgb(0, 0, 0);
      padding: 0px 40px;
>>>>>>> Stashed changes
    }


.icon-btn {
      color: white;
<<<<<<< Updated upstream
      font-size: 1.6rem;
=======
      font-size: 1.5rem;
>>>>>>> Stashed changes
      margin-left: 15px;
      cursor: pointer;
}

<<<<<<< Updated upstream
/* Home */

.container-fluid-home{
	margin-top: 60px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulo{
	font-size: 20px;
	color: rgb(255, 255, 255);
}


.custom-carousel {
  overflow: visible;              
  max-width: 70%;               
  margin-inline: auto;
}

.custom-carousel-2{
	max-width: 100%; 
	margin: 160px 0 auto;
}


.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 2.75rem;               
  opacity: 1;                  
}

.custom-carousel .carousel-control-prev { left: -3.5rem; }  
.custom-carousel .carousel-control-next { right: -3.5rem; } 


.custom-carousel .carousel-indicators { bottom: -2.5rem; }


@media (max-width: 576px) {
  .custom-carousel .carousel-control-prev { left: .25rem; }
  .custom-carousel .carousel-control-next { right: .25rem; }
  .custom-carousel .carousel-indicators { bottom: .5rem; }
}
=======
>>>>>>> Stashed changes

