<div class="container cadastro">
    <h1 class="h1cad">Criar conta</h1>

    <form>
        <input class="inputado" type="text" placeholder="Nome de usuário">
        <input class="inputado" type="email" placeholder="Email">
        <input class="inputado" type="password" placeholder="Senha">
        <input class="inputado" type="password" placeholder="Repetir senha">
        
        <button class="botaocad" type="submit">Cadastrar</button>
    </form>

    <p class="login-text">Já tem uma conta? <a href="login">Entrar</a></p>
</div>