<div class="container cadastro">
    <h1 class="h1cad">Criar conta</h1>

    <form onsubmit="return cadastrarUsuario()">
        <input class="inputado" id="nome" type="text" placeholder="Nome de usuário" required>
        <input class="inputado" id="input_email" type="email" placeholder="Email" required>
        <input class="inputado" id="senha" type="password" placeholder="Senha" required>
        <input class="inputado" id="senhaConfirmada" type="password" placeholder="Repetir senha" required>

        <button class="botaocad" type="submit">Cadastrar</button>
    </form>

    <p class="login-text">Já tem uma conta? <a href="login">Entrar</a></p>
</div>

<script type="text/javascript">

    function cadastrarUsuario() {
        let nome = document.getElementById("nome").value;
        let email = document.getElementById("input_email").value;
        let senha = document.getElementById("senha").value;
        let senhaConfirmada = document.getElementById("senhaConfirmada").value;

        if (nome === "" || nome.length < 3) {
            alert("O nome de usuário deve ter pelo menos 3 caracteres.");
            return false;
        }
        const regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!regexEmail.test(email)) {
            alert("Digite um email válido.");
            return false;
        }
        if (senha.length < 6) {
            alert("A senha deve ter pelo menos 6 caracteres.");
            return false;
        }
        if (senha !== senhaConfirmada) {
            alert("As senhas não coincidem!");
            return false;
        }

    }

</script>