<div class="container-fluid-catalogo">

    <!-- Primeira linha -->

    <div class="row row-cols-1 row-cols-md-5 g-4 custom-row mx-auto">
        <% for (let i=0; i < jogos.length; i++) { %>
            <div class="col">
                <img src="/public/img/CapaJogosVertical/<%= jogos[i].id_jogo %>.jpg" class="card-img-top card-img-game {">
                  
            </div>
            <% } %>
    </div>

    

<!-- Primeira linha -->








</div>