<div class="container-fluid-dados">

    <div class="info">

        <div class="divisao">
            <h1>Videogames e seus Impactos na Saúde</h1>
        </div>

      
        <div class="divisao">
            <p>
                Uma pesquisa teve como objetivo investigar como o uso de videogames influencia o bem-estar físico 
                e mental, analisando aspectos como estresse, estímulo cognitivo, sono e hábitos de lazer. 
                Alinhada à ODS 3, buscou compreender se os videogames podem atuar como uma ferramenta positiva 
                de relaxamento, desenvolvimento cognitivo e equilíbrio emocional.
            </p>
        </div>

        <div class="divisao">
            <h1>Formulário</h1>

            <h2>Período da Pesquisa</h2>
            <p>25/09/2025 - 30/10/2025</p>

            <h2>Respostas Coletadas</h2>
            <p>86 respostas válidas</p>
        </div>

      
        <div class="divisao">
            <h1>Destaques da Pesquisa</h1>

            <h3>Para você, quais benefícios os videogames trazem para a saúde e o bem-estar?</h3>
            <p>A pesquisa demonstrou que, para os participantes, os principais benefícios são estímulo cognitivo, felicidade e prazer.</p>
            <img src="/public/img/Graficos/bemestar.png">

            <h3>Jogar videogames ajuda você a relaxar após um dia estressante?</h3>
            <p>A pesquisa demonstrou que, para os participantes, o grau de relaxamento está em torno de 4 e 5 em uma escala de 1-5.</p>
            <img src="/public/img/Graficos/relaxa.png">
            
            <h3>Você acredita que jogos que estimulam movimento (como Just Dance) contribuem para uma vida mais saudável?</h3>
            <p>A pesquisa demonstrou que, para os participantes, o grau de concordância está em torno de 4 e 5, em uma escala de 1-5.</p>
            <img src="/public/img/Graficos/movimentos.png">
        </div>

    </div>

</div>
