<div class="container-fluid-home">


	<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="false">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>

		<h1 class="subtitulo">Lançamentos</h1>

		<div class="carousel-inner">
			<% for (let contador=0; contador < jogos.length; contador++) { %>
				<div class="carousel-item <%= (contador === 0 ? 'active' : '') %>">
					<img src="/public/img/CapaJogos/<%= jogos[contador].id %>.jpg" class="d-block w-100" alt="" />
				</div>
				<% } %>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Anterior</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Próximo</span>
		</button>
	</div>



	<div id="carouselExampleIndicators2" class="carousel slide custom-carousel custom-carousel-2" data-bs-ride="false">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="row">
					<% for (let contador=0; contador < jogos.length; contador++) { %>
						<div class="col-sm-3 mb-3 mb-sm-0">
							<div class="card" style="width: 18rem;">
								<img src="/public/img/CapaJogos/<%= jogos[contador].id %>.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<p class="card-text">Some quick example text to build on the card title and make up
										the
										bulk of the card’s content.</p>
								</div>
							</div>
						</div>
						<% } %>
				</div>
			</div>
			<!-- Adicione mais itens de carrossel conforme necessário -->
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>