<div class="container login">
    <h1 class="h1login">Entrar</h1>

    <form>
        <input class="inputado" type="email" placeholder="Email">
        <input class="inputado" type="password" placeholder="Senha">
        <button class="botaologin" type="submit">Login</button>
    </form>

    <p class="login-text">Não tem uma conta? <a href="cadastro">Criar</a></p>
</div>
