<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 perfil">
            <h1>
                Perfil
            </h1>
            <p>
                Nome do usuário
            </p>
            <p>
                Alterar email
            </p>
            <p>
                Alterar senha
            </p>
            <p>
                Confirmar senha
            </p>
            <p>
                Biográfia
            </p>
        </div>

         <div class="col-sm-6">
            
         </div>
         <div>
            
         </div>
    </div>
    
       


    </div>