<div class="container2 perfil">
    <h1 class="h1cad">Perfil</h1>
    
    <form>
        
        <p class="pinputs">
            Nome de usuário
        </p>
        <input class="inputado2" type="text">

        <p class="pinputs">
            Alterar e-mail
        </p>
        <input class="inputado2" type="email">

        <p class="pinputs">
            Alterar senha
        </p>
        <input class="inputado2" type="password">

        <p class="pinputs">
            Confirmar senha
        </p>
        <input class="inputado2" type="password">

        <p class="pinputs">
            Biográfia
        </p>
        <input class="inputado2 bio" type="text">

    </form>

</div>