<div class="container2 perfil">
    <h1 class="h1cad">Perfil</h1>
    
    <form>
        
        <label class="pinputs">
            Nome de usuário
        </label>
        <input class="inputado2" type="text">

        <label class="pinputs">
            Alterar e-mail
        </label>
        <input class="inputado2" type="email">

        <label class="pinputs">
            Alterar senha
        </label>
        <input class="inputado2" type="password">

        <label class="pinputs">
            Confirmar senha
        </label>
        <input class="inputado2" type="password">

        <label class="pinputs">
            Biográfia
        </label>
        <input class="inputado2 bio" type="text">

        <button class="botaocad2" type="submit">Confirmar</button>

    </form>

</div>