<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6" class="div_descricao_projeto">alou</div>
		<div class="col-sm-6" class="div_descricao_projeto">
			<div id="descricao_projeto">
				<h2>Ideia</h2>
				<p>Plataforma em desenvolvimento como projeto integrado do 2º semestre do curso de Ciência de Dados e
					Negócios da ESPM. Nosso objetivo é criar um catálogo interativo de games que funcione também como
					uma comunidade, permitindo que usuários descubram, avaliem e compartilhem experiências sobre seus
					jogos favoritos.
				</p>
			</div>
		</div>
	</div>

	<!-- Integrantes -->

	<h2 style="color: #fff; ">Desenvolvedores:</h2>
	<div class="row">

		<div class="col-sm-2" style=" margin-top: 10px;">
			<div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 16rem; min-height: 100%;">
				<div class="icon">
					<img src="/public/img/FotoIntegrantes/FotoRafa.jpeg" alt="RafaelNasci" class="foto_integrantes">
				</div>
				<div class="card-body descricao_card">
					<h4 class="card-title fw-bold">Rafael Nascimento</h4>
					<p class="card-text">Desenvolvedor Full Stack</p>
					<p>Linkedin: <a href="https://www.linkedin.com/in/rafael-nascimento-00a4982ba/" target="_blank">Rafael Nascimento
						</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-2" style=" margin-top: 10px;">
			<div class="card text-center border-0 shadow rounded-0 p-4" style="max-width: 16rem; min-height: 100%;">
				<div class="icon">
					<img src="/public/img/FotoIntegrantes/FotoRafa.jpeg" alt="RafaelNasci" class="foto_integrantes">
				</div>
				<div class="card-body descricao_card">
					<h4 class="card-title fw-bold">Pedro Veiga</h4>
					<p class="card-text">Desenvolvedor front End</p>
				</div>
			</div>
		</div>


	</div>






</div>