
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-sm-12">
            <h2 class="titulo_wish">Wishlist de “Usuário”</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
            <input class="pesquisa_wish form-control" type="text" placeholder="Pesquisar">
        </div>
    </div>


    <div class="row card_wish">

        <div class="col-sm-4">
            <img class="jogo" src="public\img\CapaJogos\1.jpg">
        </div>

        <div class="col-sm-5 info_wish">
            <h3>Hollow Knight: Silksong</h3>
            <p>Avaliações dos usuários: ★★★★★</p>
            <p>Data de lançamento: 04/09/2025</p>
        </div>

        <div class="col-sm-3 plataformas_wish text-end">
            <img src="public/img/CapaPlataformas/Xbox.png">
            <img src="public/img/CapaPlataformas/PlayStation.png">
        </div>

    </div>


    <div class="row card_wish">

        <div class="col-sm-4">
            <img class="jogo" src="public\img\CapaJogos\2.jpg">
        </div>

        <div class="col-sm-5 info_wish">
            <h3>1000xRESIST</h3>
            <p>Avaliações dos usuários: ★★★★☆</p>
            <p>Data de lançamento: 09/05/2024</p>
        </div>

        <div class="col-sm-3 plataformas_wish text-end">
            <img src="public/img/CapaPlataformas/Xbox.png">
            <img src="public/img/CapaPlataformas/Steam.png">
        </div>

    </div>

</div>
