<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dsa.css">
    <title>Wishlist</title>
</head>
<body>

    <h2 class="titulo_wish">Wishlist de “Usuário”</h2>

    <input type="text" placeholder="Pesquisar" class="pesquisa_wish">

    <div class="card_wish">
        <img src="public\img\CapaJogos\1.jpg" class="jogo" />
        <div class="info">
            <h3>Hollow Knight: Silksong</h3>
            <p>Avaliações dos usuários: ★★★★★</p>
            <p>Data de lançamento: 04/09/2025</p>
        </div>
        <div class="plataformas">
            <img src="public\img\CapaPlataformas\Xbox.png">
            <img src="public\img\CapaPlataformas\PlayStation.png">
        </div>
    </div>

    <div class="card_wish">
        <img src="public\img\CapaJogos\3.jpg" class="jogo" />
        <div class="info">
            <h3>Hades 2</h3>
            <p>Avaliações dos usuários: ★★★★☆</p>
            <p>Data de lançamento: 25/09/2025</p>
        </div>
        <div class="plataformas">
            <img src="public\img\CapaPlataformas\Steam.png">
            <img src="public\img\CapaPlataformas\PlayStation.png">
        </div>
    </div>

</body>
</html>
